colorlog==6.7.0
pyfiglet==0.8.post1
wcferry>=39.0.0.1
aiocache==0.12.1
aiosqlite==0.19.0
pydantic==1.10.7
aiohttp==3.8.4
bs4==0.0.1
beautifulsoup4==4.12.2
matplotlib==3.7.1
Pillow==9.5.0
httpx==0.24.0
tqdm==4.65.0
qrcode==7.4.2
schedule==1.2.0
PyYAML==6.0
openai==0.27.8